{% extends 'LumayoApp/base.html' %}
{% load widget_tweaks %}

{% load static %}


{% block content %}
<h1>Editar libro</h1>
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form %}
            <div class="row">
                <div class="col-6 m-0 text-center pt-2">
                    <div class="container pt-2 text-center">
                        {% if form.portada %}
                            <img src="{{ libro.portada.url }}"  class="libros" alt="Foto portada"/>
                        {% else %}
                            <img src="{% static 'img/agregarlibro2.png' %}"/>
                        {% endif %}
                    </div>
                        <p class="py-3">
                            {{ form.portada }} 
                        </p>
                </div>
                <div class="col-6">
                    <div class="row">

                        {% for campos in form %}

                            
                            {% if campos != form.portada and campos != form.id %}
                                <div class="form-floating mb-3 col-6">
                                    {{ campos|add_class:'form-control'|attr:"id:floatingInput"|attr:"placeholder:campos.label" }}
                                    <label for="floatingInput" class="mb-2 mx-2">{{ campos.label }}</label>
                                </div>
                            {% endif %}
                                

                            
                            
                        {% endfor %}
                            
                        <div class="col">
                            <input type="submit" name="add-libro-submit" id="add-libro-submit" tabindex="4" class="form-control btn btn-primary mb-2" value="Guardar">
                            <a class="form-control btn btn-secondary" href="{% url 'libros:listar-libro'  %}">Cancelar</a>
                        </div>

                    </div>
                </div>
            </div>
            {% endif %}
        </form> 
    </div>
  
{% endblock content %}


  