<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orden Completada</title>
</head>
<body>
    <div class="">
        <h3>Hola {{ usuario.username }} Tu cuenta de adminsitrador ha sido creada!...</h3>
        <p>La contraseña para de la cuenta es: <b>{{ password }}</b></p>
        <p>Te surgerimos que inicies sesion lo mas pronto posible y cambies tu contraseña.</p>
        <p>Recuerda puedes visitar la pagina!...</p>
        <a href="{{ next_url }}" target="_blank">ir a Lumayo App</a>
    </div>
</body>
</html>