{% extends 'LumayoApp/base.html' %}

{% load static %}


{% block content %}

  <section class="mt-4 mb-4 px-4">
    <div class="container mb-4">
      <div class="row">
        <div class="col text-center text-uppercase">
          <h2>Ultimas novedades...</h2>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-12 col-md-4 col-lg-3 mb-4 ">
        <div class="card" style="width: 18rem;">
          <img src="https://picsum.photos/id/1021/200/200.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Titulo del libro</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="d-grid gap-2">
              <a href="#" class="btn btn-primary inline">Mas detalles</a>
              <a href="#" class="btn btn-warning">Añadir al Carrito</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-3 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="https://picsum.photos/id/1022/200/200.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Titulo del libro</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="d-grid gap-2">
              <a href="#" class="btn btn-primary inline">Mas detalles</a>
              <a href="#" class="btn btn-warning">Añadir al Carrito</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-3 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="https://picsum.photos/id/1023/200/200.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Titulo del libro</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="d-grid gap-2">
              <a href="#" class="btn btn-primary inline">Mas detalles</a>
              <a href="#" class="btn btn-warning">Añadir al Carrito</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-3 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="https://picsum.photos/id/1024/200/200.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Titulo del libro</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="d-grid gap-2">
              <a href="#" class="btn btn-primary inline">Mas detalles</a>
              <a href="#" class="btn btn-warning">Añadir al Carrito</a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-12 col-md-4 col-lg-3 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="https://picsum.photos/id/1025/200/200.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Titulo del libro</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="d-grid gap-2">
              <a href="#" class="btn btn-primary inline">Mas detalles</a>
              <a href="#" class="btn btn-warning">Añadir al Carrito</a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-12 col-md-4 col-lg-3 mb-4">
        <div class="card" style="width: 18rem;">
          <img src="https://picsum.photos/id/1026/200/200.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Titulo del libro</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="d-grid gap-2">
              <a href="#" class="btn btn-primary inline">Mas detalles</a>
              <a href="#" class="btn btn-warning">Añadir al Carrito</a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>
  
{% endblock content %}


  
