{% extends 'LumayoApp/base.html' %}

{% load static %}


{% block content %}


    <h3 class="text-center">Reestablecer contraseña</h3>


    <div class="col-md-12 col-lg-12 bg-light p-3 mt-5">
        <p> ¿Olvidaste tu contraseña? Ingrese su dirección de correo electrónico a continuación y le enviaremos las instrucciones para configurar una nueva. </p>
    </div>

    <form action="" method="post" class="mt-5">

        {% csrf_token %}
        {{form}}
        <input type="submit" name="Send email">
        
    </form>


{% endblock content %}