/* Sticky footer styles
-------------------------------------------------- */



html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    /* height: 60px; */
    background-color: #f5f5f5;
  }

.row-nav{
    display: contents;
}

.body-bg {

    background: linear-gradient(124.68deg, #a2d1e3, #3f51b5);
}

.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.btn-primary{
    background-color: #3f51b5;
    border-color: #3F51B5;
}

.btn-primary:hover{
    background-color: #303F9F;
    border-color: #303F9F
}

.img-ajustable{
  object-fit: fill;
  height: 100%;
}

.material-icons-outlined {
	font-size: 21px;
	line-height: 16px;
	vertical-align: middle;
	margin-top: -2px;
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}