{% extends 'LumayoApp/base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block content %}

   <div class="container m-4">
    <h2> Editar perfil</h2>

       <div class="row">

            <div class="col-6 m-0">
                <section>
                    <img src="{% static 'LumayoApp/img/completar-perfil.jpg' %}" class="img-ajustable" alt="">
                </section>
            </div>

            <div class="col-6 bg-light p-3">
               <h3> Editar Perfil</h3>

                <div class="row">
                    <form method="POST">
                        {% csrf_token %}
                        {% if form %}
                            {% for campos in form  %} 
            
                                <div class="form-floating mb-3 col-12">
                                    {{ campos|add_class:'form-control'|attr:"id:floatingInput"|attr:"placeholder:campos.label" }}
                                    <label for="floatingInput" class="mb-2 mx-2">{{ campos.label }}</label>
                                </div>
                            
                            {% endfor %}
                            
            
                            <!-- <div class="col">
                                <input type="submit" name="completar-submit" id="completar-submit" tabindex="4" class="form-control btn btn-primary my-2" value="guardar">
                            </div> -->
            
                        {% endif %}
                        {% if form2 %}
                            {% for campos in form2  %} 
            
                                <div class="form-floating mb-3 col-12">
                                    {{ campos|add_class:'form-control'|attr:"id:floatingInput"|attr:"placeholder:campos.label" }}
                                    <label for="floatingInput" class="mb-2 mx-2">{{ campos.label }}</label>
                                </div>
                            
                            {% endfor %}
                            
            
                            <div class="col">
                                <input type="submit" name="completar-submit" id="completar-submit" tabindex="4" class="form-control btn btn-primary my-2" value="guardar">
                            </div>
            
                        {% endif %}
                       
                    </form>
                </div>
            </div>

       </div>
   </div>
  
{% endblock content %}

