{% extends 'LumayoApp/base.html' %}
{% load widget_tweaks %}

{% load static %}


{% block content %}
    <div class="container">
        <form method="post">
        {% csrf_token %}
            <h3>Desea eliminar el administrador con nombre de usuario: {{ object.username }}?...</h3>
            <input class="btn btn-danger" type="submit" value="Si, eliminar">
            <a class="btn btn-secondary" href="{% url 'usuarios:listar-admin' %}">Cancelar</a>
        </form>
        <a class="btn btn-primary" href="{% url 'usuarios:modulo-root'  %}">Volver</a>
    </div>
  
{% endblock content %}


  