{% extends 'LumayoApp/base.html' %}

{% load static %}


{% block content %}
      <div class="container h-200 m-1">
        <h1 class="text-center my-5">Opciones del administrador</h1>
          <div class="row mt-3">
            <div class="col-sm-12 col-lg-6 my-4">
              <div class="card text-start card-seleccion bg-blue">
                <div class="card-body text-white">
                  <h3 class="display-5">Administrar</h3>
                  <h4>Libros</h4>
                  <a href="{% url 'libros:admin-libro' %}" class="stretched-link"></a>
                </div>
                <div class="ico-card">
                  <i class="bi bi-journal-bookmark-fill icon-size-card"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6 my-4">
              <div class="card text-start card-seleccion bg-cherry">
                <div class="card-body text-white">
                      <h3 class="display-5">Administrar</h3>
                      <h4>Perfil</h4>
                      <a href="{% url 'usuarios:admin-perfil' %}" class="stretched-link"></a>
                </div>
                <div class="ico-card">
                  <i class="bi bi-people-fill icon-size-card"></i>
                </div>
              </div>
            </div>
        </div>
    </div>
  
{% endblock content %}


  