{% extends 'LumayoApp/base.html' %}

{% load static %}


{% block content %}
      <div class="text-center mt-5 ">
         <h2> <strong>Bienvenido</strong></h2>
      </div>
      <div class="container justify-content-center p-5 mt-5 mb-5">
        <div class="row">
            <div class="col">
                <div class="card h-100" style="width: 18rem;">
                    <img src="{% static 'LumayoApp/img/completar-perfil.svg' %}" class="card-img-top p-2" alt="...">
                    <div class="card-body d-grid">
                      <a href="{% url 'libros:admin-libro' %}" class="btn btn-primary">Administrar Libros</a>
                    </div>
                  </div>
            </div>
            <div class="col">
              <div class="card h-100" style="width: 18rem;">
                <img src="{% static 'LumayoApp/img/editar-perfil.svg' %}" class="card-img-top p-2" alt="...">
                <div class="card-body d-grid ">
                  <a href="#" class="btn btn-primary">Administrar Noticias</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100" style="width: 18rem;">
                <img src="{% static 'LumayoApp/img/dar-de-baja.svg' %}" class="card-img-top mt-4 p-2" alt="...">
                <div class="card-body d-grid">
                  <a href="{% url 'usuarios:admin-perfil' %}" class="btn btn-primary">Administrar Perfil</a>
                </div>
              </div>
            </div>
        </div>
    </div>
  
{% endblock content %}


  