{% extends 'LumayoApp/base.html' %}
{% load widget_tweaks %}

{% load static %}


{% block breadcrumb %}
    {% include 'ordenes/snippets/breadcrumb.html' %}
{% endblock breadcrumb %}
    
{% block content %}
<div class="row">
    <div class="col-8">
        <div class="h3">
            Revisa tu pedido
        </div>
        <div class="card">
            <ul class="list-group list-group-flush">
                
                {% for libro in carrito.libros.all %}
                    <li class="list-group-item">
                        {% include 'ordenes/snippets/libro.html' %}
                    </li>
                {% endfor %}
            </ul>       
        </div>
    </div>

    <div class="col">
        {% url 'ordenes:direccion' as next_url %}
        {% include 'ordenes/snippets/resumen.html' with next_url=next_url %}
    </div>
</div>
{% endblock content %}