{% extends 'LumayoApp/base.html' %}
{% load widget_tweaks %}

{% load static %}
{% load humanize %}

{% block breadcrumb %}
    {% include 'ordenes/snippets/breadcrumb.html' %}
{% endblock breadcrumb %}
    
{% block content %}
<div class="row">
    <div class="col">
        <div class="h3">
            Selecciona un metodo de pago
        </div>
        <div class="row">
            
            {% for tarjeta in tarjetas %}
                <div class="col col-md-6 col-lg-4 mx-5 mt-2">
                    <div class="card text-start cardCredito {% if tarjeta.defecto %} bg-gold {% else %} bg-cherry {% endif %}" style="width: 25rem;">
                        <div class="card-header p-0">
                            <h3 class="text-bold pt-1 ps-2">{{ tarjeta }}</h3>
                        </div>
                        <div class="card-body text-white">
                            <div class="row">
                                <div class="col-8">
                                <h4>**** **** **** {{ tarjeta.ultimos_cuatro }}</h4>
                                <div class="card-title">
                                    Saldo actual:
                                </div>
                                <div class="card-title">
                                    ${{ tarjeta.saldo|intcomma }}
                                </div>
                            </div>
                                <div class="col-4 m-0 p-0">
                                    <i class="bi bi-credit-card-2-front icon-size-cardCredito"></i>
                                </div>
                            </div>
                        </div>
                    
                        <div class="card-footer">
                            <a href="{% url 'ordenes:establecer_metodo_pago' tarjeta.pk %}" class="btn btn-warning">Seleccionar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
                
        </div>
    </div>
</div>
{% endblock content %}