<div class="card">
    <div class="card-header">
      <h5><i class="bi bi-question-diamond-fill me-1"></i>{{ comentario.foro.titulo }}</h5>
      <small><i class="bi bi-calendar-event mx-1"></i>  {{ comentario.editado_en }}</small>
    </div>
    <div class="card-body">
        {{ comentario.texto }}
    </div>
    
    {% if comentario.usuario == request.user %}
    <div class="card-footer">
      <a href="{% url 'foro:comentario-editar' comentario.pk %}" class="btn btn-warning">Editar</a>
      <a href="{% url 'foro:comentario-eliminar' comentario.pk %}" class="btn btn-danger">Eliminar</a>
    </div>
    {% endif %}
      
  </div>